case = [1,1,1,1]
line-length = 120
indent = 2
disable-indent = false
strict-indent = true
whitespace = 3
whitespace-comma = true
whitespace-assignment = true
enable-decl = true
whitespace-decl = true
whitespace-relational = true
whitespace-logical = true
whitespace-multdiv = true
whitespace-print = true
whitespace-type = false
whitespace-intrinsics = true
